 [user]
	email = campos.esteban@gmail.com
	name = stvmachine
[gc]
	autoDetach = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[core]
	excludesfile = /Users/esteban/.gitignore_global
	pager = delta
[include]
	path = /Users/esteban/.gitconfig.local
[dotfiles]
	managed = true
[credential]
	helper = osxkeychain
[interactive]
	diffFilter = delta --color-only
[delta]
	syntax-theme = Dracula
	line-numbers = true
	decorations = true
[gpg]
	program = gpg
[commit]
	gpgsign = false
