 [user]
	name = Esteban Campos
	email = campos.esteban@gmail.com
[gc]
	autoDetach = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[core]
	excludesfile = /Users/esteban/.gitignore_global
